<!DOCTYPE html>
<html>
  <head>
    <title>Pennsylvania for Safe Climate</title>
    <link rel="stylesheet" href="/stylesheets/modal-min-bootstrap.css">
    <link rel="stylesheet" href="//d2v52k3cl9vedd.cloudfront.net/basscss/7.0.0/basscss.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div role="banner" class="header-div">
      <h1 class="main-title center">Pennsylvania for Safe Climate</h1><br>
      <h2 class="center">Friday, April 7th, 2017</h2>
      <h2 class="center">Widener University Commonwealth Law School, Harrisburg, PA</h2>
    </div>
    <div class="container">
      <div class="clearfix">
        <div id="filters3" class="col col-12">
          <div id="head" class="center">Agenda</div>
          <ul class="tab">
            <li><a href="javascript:void(0)" onclick="openTab(event, 'Welcome')" class="tablinks">Welcome</a></li>
            <li><a href="javascript:void(0)" onclick="openTab(event, 'KeynoteSpeaker')" class="tablinks">Keynote Speaker</a></li>
            <li><a href="javascript:void(0)" onclick="openTab(event, 'IntroductionI')" class="tablinks">Introduction I</a></li>
            <li><a href="javascript:void(0)" onclick="openTab(event, 'IntroductionII')" class="tablinks">Introduction II</a></li>
            <li><a href="javascript:void(0)" onclick="openTab(event, 'WorkshopRound1')" class="tablinks">Workshop Round #1</a></li>
            <li><a href="javascript:void(0)" onclick="openTab(event, 'Break')" class="tablinks">Break</a></li>
            <li><a href="javascript:void(0)" onclick="openTab(event, 'Screen')" class="tablinks">"Priceless"</a></li>
            <li><a href="javascript:void(0)" onclick="openTab(event, 'LobbyTraining')" class="tablinks">Keynote Speaker</a></li>
            <li><a href="javascript:void(0)" onclick="openTab(event, 'BreakUp')" class="tablinks">Break Up</a></li>
            <li><a href="javascript:void(0)" onclick="openTab(event, 'Closing')" class="tablinks">Closing Remarks</a></li>
          </ul>
          <div id="Welcome" class="tabcontent">
            <h6>10 Minutes</h6>
          </div>
          <div id="KeynoteSpeaker" class="tabcontent">
            <h6>(some ideas: Swarthmore President or Dickinson College President, Head of Sustainability Dpt. (at one of the universities), or potentially someone from Years of Living Dangerously)</h6>
          </div>
          <div id="IntroductionI" class="tabcontent">
            <h6>The Link Between Pollution & Climate Change (may be critical background information depending on if audience is more conservative, etc.)</h6>
            <h6>10-25 minutes</h6>
          </div>
          <div id="IntroductionII" class="tabcontent">
            <h6>III. Introduction: The Climate Solution, Put A Price On It // Page or Lizzy can present</h6>
            <h6>- Screen 3 minute video of Robert Reich explaining the importance of a carbon price as it pertains to being a solution to global warming</h6>
            <h6>- Use Put A Price On it slides (just an option as we already have these made and can lead the presentation ourselves or train someone on the team to present it)</h6>
            <h6>- Highlight how it is just not fair for polluters to not pay their fair share. (Should appeal to conservatives)</h6>
            <h6>15-25 minutes</h6>
          </div>
          <div id="WorkshopRound1" class="tabcontent">
            <h6>This can be where we plug in some other organizations in the state and give them an opportunity to share and present</h6>
            <h6>Workshop A: Other climate fights in PA and how carbon pricing fits in / can unite them --> this will focus on broader climate fights in PA and how putting a price on GHG emissions will help lessen the amount of fracking, etc. The workshop can also touch on coaching participants on how to deal with climate-change deniers, etc.</h6>
            <h6>Workshop B: More in depth look at a carbon tax --> this workshop will go into detail (taking off where III. Introduction left off) about key places a carbon tax has worked and boosted the economy! This is also where we can speak about some of the myths and mis-information out there about a carbon tax and coach participants on how to deal with myth-believers (aka be a myth buster!)</h6>
            <h6>Each workshop can be 20-30 minutes</h6>
          </div>
          <div id="Break" class="tabcontent">
            <h6>let people eat / snack during screening</h6>
            <h6>15 minutes</h6>
          </div>
          <div id="Screen" class="tabcontent">
            <h6>Screen "Priceless" episode from Years of Living Dangerously</h6>
            <h6>Featuring The Sixth Extinction with Aasif Mandvi and Price On Carbon with Nikki Reed</h6>
            <h6>1 hour</h6>
          </div>
          <div id="LobbyTraining" class="tabcontent">
            <h6>Meeting with government representatives is one of the most powerful ways you can let your voice be heard. In this training, we will walk you through lobbying techniques so that you're meeting will be a success! Remember, as a citizen you have the right to be heard, take advantage of this opportunity to meet with your legislators for optimal impact.</h6>
            <h6>30-45 minutes</h6>
          </div>
          <div id="BreakUp" class="tabcontent">
            <h6>Participants will meet with others in their district to complete a checklist that will help them ensure they have all the pieces together for a successful lobbying (Our Climate can provide this). Participants will choose roles and practice.</h6>
            <h6>20 - 30 minutes</h6>
          </div>
          <div id="Closing" class="tabcontent">
            <h6>Important to ensure that everyone has access to some sort of online petition so that individuals who are unable to attend event can sign onto something concrete that can be given to legislators during lobbying meetings, etc.</h6>
            <h6>15 minutes</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="clearfix">
        <div id="filters2" class="col col-12">
          <div id="head" class="center">Carbon Pricing</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="clearfix">
        <div id="filters4" class="col col-12">
          <div id="head" class="center">Endorsement Letter</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="clearfix">
        <div id="filters" class="col col-12">
          <div id="head" class="center">Resources</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="clearfix">
        <div id="filters5" class="col col-12">
          <div id="head" class="center">Sponsors<br><img src="/images/sponsor1.gif" class="banner-img middle"><br><img src="/images/sponsor2.png" class="banner-img middle"><br></div>
        </div>
      </div>
    </div>
    <div role'footer class="footer-div"><img src="/images/CollegeLogoGarnet.svg" class="banner-img left">
      <div id="trademark2" class="left">Contact Us: sustainability@swarthmore.edu</div>
      <div class="cemvideo right"><a href="http://www.swarthmore.edu/sustainability">Powered by: Swarthmore College Office of Sustainability</a></div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/javascripts/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?&amp;sensor=false"></script>
  </body>
</html>
